.nav-page {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 48px 0 0 0;
  background-color: var(--navigation-background-color);
}

.nav-page__app-container {
  overflow: hidden;
}

.nav-page__menu {
  margin-left: 27px;
  margin-top: 122px;
}

.nav-page__name {
  margin-left: 31px;
  height: 38px;
  width: 83px;
  font-family: 'Avenir Black';
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 38px;
  color: var(--navigation-text-color);
}

.nav-page__menu-list {
  width: 175px;
  height: 454px;
}

.nav-page__menu-list-top {
  padding-top: 57px;
  padding-bottom: 61.5px;
}

.nav-page__menu-list-top > div,
.nav-page__menu-list-bottom > div {
  height: 27px;
  padding: 12px 30px;
  border-radius: 15.5px;
  color: var(--navigation-text-color);
  font-family: Avenir;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.nav-page__menu-list-top > div {
  margin-bottom: 19px;
}

.nav-page__menu-list-top > div:active,
.nav-page__menu-list-bottom > div:active {
  background: var(--active-background-color);
  color: var(--active-text-color);
  letter-spacing: -0.5px;
}

.nav-page__menu-list-bottom {
  padding-top: 59.5px;
  border-top: 1px solid var(--border-color);
}
