:root {
  --primary-background-color: #ffffff;
  --navigation-background-color: rgba(24, 39, 51, 0.85);
  --active-background-color: rgba(252, 128, 116, 0.2);
  --active-text-color: #fc8074;
  --navbar-icon-color: #e8e5e5;
  --navbar-title-color: #9f9fa0;
  --navigation-text-color: #ffffff;
  --border-color: #84818e;
  --navigation-background-color: #1f1b33;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
